@import '~@angular/material/theming';
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

.container {
    margin: 8px;
    max-width: 750px;
    margin: 0 auto;
    height: 100%;
}
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.section-header {
    padding: 8px;
    text-align: center;
    background-color: mat-color($primary);
    color: #fff;
}

.error-section {
    padding: 8px;
    background-color: #f44336;
    color: #fff;
}

.success-section {
    padding: 8px;
    background-color: lightgreen;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .fields {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}

.section-footer {
    display: flex;
    justify-content: flex-end;
}

.form-actions {
    border-top: 1px solid mat-color($primary);
    padding-top: 8px;
    margin-top: 8px;
}