<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <section class="files-section">
    <h2 class="section-header">
      {{ 'PAGES.HOME.FILES_SECTION' | translate }}
    </h2>

    <div class="files">
      <div *ngFor="let fileRow of fileRows" class="row">

        <mat-form-field>
          <mat-label>{{ 'PAGES.HOME.FILE_ALIAS' | translate }}</mat-label>
          <input matInput [(ngModel)]="fileRow.alias" />
        </mat-form-field>

        <label>
          <input (change)="changeFile(fileRow, $event.target.files[0]?.path || '')" type="file" accept=".pdf" />
        </label>

      </div>
    </div>

    <div class="section-footer">
      <button mat-raised-button color="accent" (click)="addFileRow()">
        {{ 'PAGES.HOME.ADD_MORE_FILES' | translate }}
      </button>
    </div>

  </section>

  <section class="pages-section">
    <h2 class="section-header">
      {{ 'PAGES.HOME.PAGES_SECTION' | translate }}
    </h2>

    <div class="pages">
      <div *ngFor="let pageRow of pageRows" class="row">

        <mat-form-field>
          <mat-label>{{ 'PAGES.HOME.FILE_ALIAS' | translate }}</mat-label>
          <mat-select [(ngModel)]="pageRow.fileRow">
            <mat-option *ngFor="let fileRow of fileRows" [value]="fileRow">
              {{fileRow.alias}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'PAGES.HOME.PAGE_RANGE' | translate }}</mat-label>
          <input matInput [(ngModel)]="pageRow.range" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'PAGES.HOME.PAGE_ROTATION' | translate }}</mat-label>
          <mat-select [(ngModel)]="pageRow.rotation">
            <mat-option *ngFor="let option of rotationOptions" [value]="option">
              {{ ('PAGES.HOME.PAGE_ROTATION_' + option) | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    
    <div class="section-footer">
      <button mat-raised-button color="accent" (click)="addPageRow()">
        {{ 'PAGES.HOME.ADD_MORE_PAGES' | translate }}
      </button>
    </div>
  </section>
  
  <section class="form-actions">
    <div class="row">
      <button mat-raised-button color="warn" (click)="resetForm()">
        {{'PAGES.HOME.FORM_RESET' | translate}}
      </button>
      <mat-checkbox class="example-margin" [(ngModel)]="compress">
        {{'PAGES.HOME.COMPRESS_FILE' | translate}}
      </mat-checkbox>
      <button mat-raised-button color="primary" (click)="createFile()">
        {{'PAGES.HOME.CREATE_FILE' | translate}}
      </button>
    </div>
  </section>

  <h3 *ngIf="error" class="error-section">
    {{error.token|translate:error.values}}
  </h3>

  
</div>
